{
	"server": "mail.somewhere.com",
	"username": "somebody@somewhere.com",
	"password": "Password",
    "spamHandling": "yes",
	"isGmail": "no",
	"spamSubject": "[SPAM?]",
	"report": "yes",
	"spamLifetime": 30,
	// IMPORTANT: Using mailLifetime will empty your WHOLE INBOX! Only use, if you really want to!
	// "mailLifetime": 30,
	"folders": {
        "inbox": "INBOX",
		"spam": "Spam",
		"sent": "Sent",
		"ham": "falsePositive"
	}
}
