{
	"server": "mail.somewhere.com",
	"username": "somebody@somewhere.com",
	"password": "Password",
	"isGmail": "no",
	"spamSubject": "[SPAM?]",
	"report": "yes",
	"spamLifetime": 30,
	"folders": {
		"spam": "Spam",
		"ham": "falsePositive",
		"sent": "Sent",
		"inbox": "INBOX"
	}
}
