{
	"server": "mail.somewhere.com",
	"username": "somebody@somewhere.com",
	"password": "Password",
	"spamSubject": "[SPAM?]",
	"mailsToScan": 50,
	"report": "yes",
	"spamLifetime": 30,
	"batchSize": {
    	"filter": 50,
    	"hamLearn": 50,
    	"spamLearn": 50
	"folders": {
		"spam": "Spam",
		"ham": "falsePositive",
		"sent": "Sent",
		"inbox": "INBOX"
	}
}
